{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="container" style="background-color:aliceblue; opacity: 0.8; margin-top:100px; margin-bottom:100px;" >
        <div class="container-fluid">
            <div class="container1">
                <header>
                    <br>
                    <h1 style="text-align: center; font-size:48px">향후 계획 및 목표</h1>
                </header>
            </div>
            <br>
            <div class="container2" style="margin-bottom:50px;">
                <ul>
                    <li class="process_font">다양한 데이터베이스를 새로 추가하여 더욱 더 많은 정보를 전달</li>
                    <li class="process_font">회원가입 및 회원 기능을 추가</li>
                    <li class="process_font">회원가입시 중복ID 체크기능 및 비밀번호 설정시 글자 수 제한 기능</li>
                    <li class="process_font">데이터별 답변 등록 및 리뷰 기능 추가</li>
                    <li class="process_font">숙소 예약서비스 추가</li>
                    <li class="process_font">지도보기 클릭 시 그 모델의 데이터에 해당하는 마커 1개만 표시 기능</li>
                    <li class="process_font">다양한 부트스트랩을 찾아보고 맞는 부트스트랩을 적용하여 전체적으로 깔끔한 프론트 웹 구현</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}