{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="container" style="background-color:aliceblue; opacity: 0.8; margin-top:100px; margin-bottom:100px;" >
        <div class="container-fluid">
            <div class="container1">
                <header>
                    <br>
                    <h1 style="text-align: center; font-size:48px">프로젝트 동기</h1>
                </header>
            </div>
            <br>
            <div class="container2" style="margin-bottom:50px;">
                
                        <p style="font-size:20px;">&nbsp;코로나로 팬데믹이 지속되는 시국인 현재, 침체되어 있는 관광 업종들을 활성화하고 싶었습니다.
                        그래서 해외 여행이 제한되었을 때 국내로 여행하게 된다면 지금 우리가 살고 있는 서울에도 충분히 아름다운 관광명소가 있다는 것을 소개하고 싶었습니다.
                        그리고 여행을 하는 동안 필요한 정보를 제공하는 웹사이트를 만들어 보고 싶었습니다. 따라서 이 프로젝트를 기획하고, 진행하게 되었습니다.</p>
                     
            </div>
        </div>
    </div>
</div>
{% endblock %}