{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="container" style="background-color:aliceblue; opacity: 0.8; margin-top:100px; margin-bottom:100px;" >
        <div class="container-fluid">
            <div class="container1">
                <header>
                    <br>
                    <h1 style="text-align: center; font-size:48px">프로젝트 진행과정</h1>
                </header>
            </div>
            <br>
            <div class="container2" style="margin-bottom:50px;">
                <ul>
                <li class="process_font">파이썬을 사용해 서울시 공공 데이터와 웹 크롤링으로 데이터 전처리</li>
                <li class="process_font">데이터를 mysql에서 데이터베이스로 저장</li>
                <li class="process_font">Django에서 데이터 모델화</li>
                <li class="process_font">Folium과 Googlemaps로 지도 표현 </li>
                <li class="process_font">Javascript를 사용해서 모달창 기능 추가</li>
                <li class="process_font">html 페이징 기능 추가</li>
                <li class="process_font">Bootstrap으로 디자인 참조</li>
                </ul>     
            </div>
        </div>
    </div>
</div>
{% endblock %}